* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.login-title{
  justify-self: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

button {
  border: 1px solid #000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: red;
}

.login-buttons {
  width: 360px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.user-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.user {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close{
  margin-left: 30px;
  width: 20px;
  height: 20px;
  background: transparent;
  position: relative;
  outline: none;
  border: none;
}

.close:active{
  background: transparent;
}

.close::before{
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(-45deg);
}
.close::after {
  position: absolute;
  content: "";
  bottom: 9px;
  right: 0;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
}